<h1>Manufacturers</h1>
<% @manufacturers.each do |manufacturer| %>
  <div>
    <ul>Manufacturer: <%= manufacturer.name.capitalize %></ul>
    <ul>Origin: <%= manufacturer.country.capitalize %></ul>
  </div>
<% end %>
