<h1>Manufacturers</h1>
<% @manufacturers.each do |manufacturer| %>
  <div>
    <ul>Manufacturer: <%= link_to manufacturer.name.capitalize, manufacturer %></ul>
    <ul>Origin: <%= manufacturer.country %></ul>
  </div>
==================================
<% end %>
